<!-- public/views/players.html -->

<div class="jumbotron text-center">

	<div class="panel panel-default">
		<!-- Table -->
		<table class="table">
			<tr>
				<td></td>
				<td><strong>Pass Yards</strong></td>
				<td><strong>Pass TDs</strong></td>
				<td><strong>Rush Yards</strong></td>
				<td><strong>Rush TDs</strong></td>
				<td><strong>Rec Yards</strong></td>
				<td><strong>Rec TDs</strong></td>
			</tr>
			<tr ng-repeat="player in players">
				<td><a href='/players/{{ player._id }}'>{{ player.name_first }} {{ player.name_last }}</a></td>
				<td>{{ player.pyds }}</td>
				<td>{{ player.ptds }}</td>
				<td>{{ player.ruyds }}</td>
				<td>{{ player.rutds }}</td>
				<td>{{ player.reyds }}</td>
				<td>{{ player.retds }}</td>
			</tr>
		</table>
	</div>

</div>

