<!-- public/views/players.html -->

<div class="jumbotron text-center">

	<div class="panel panel-default">
		<!-- Table -->
		<table class="table">
			<tr>
				<td></td>
				<td><strong>Pass Yards</strong></td>
				<td><strong>Pass TDs</strong></td>
				<td><strong>Rush Yards</strong></td>
				<td><strong>Rush TDs</strong></td>
				<td><strong>Rec Yards</strong></td>
				<td><strong>Rec TDs</strong></td>
			</tr>
			<tr ng-repeat="player in players">
				<td><a href='/players/{{ player._id }}'>{{ player.name_full }}</a></td>
				<td>{{ player.passing.yds }}</td>
				<td>{{ player.passing.td }}</td>
				<td>{{ player.rushing.yds }}</td>
				<td>{{ player.rushing.td }}</td>
				<td>{{ player.receiving.yds }}</td>
				<td>{{ player.receiving.td }}</td>
			</tr>
		</table>
	</div>

</div>

