<!-- public/views/player.html -->

<div class="jumbotron text-center">
	<h1>{{ player.first }} {{ player.last }}</h1>

	<table class="table">
		<tr>
			<td>Passing Yards</td><td>{{ player.pyds }}</td>
		</tr>
		<tr>
			<td>Pass TDs</td><td>{{ player.ptds }}</td>
		</tr>
		<tr>
			<td>Rushing Yards</td><td>{{ player.ruyds }}</td>
		</tr>
		<tr>
			<td>Rushing TDs</td><td>{{ player.rutds }}</td>
		</tr>
		<tr>
			<td>Receiving Yards</td><td>{{ player.reyds }}</td>
		</tr>
		<tr>
			<td>Receiving TDs</td><td>{{ player.retds }}</td>
		</tr>
	</table>

</div>

